body {
  margin: 0;
  height: 100vh;
  background: #13233d;
  background: linear-gradient(
    145deg,
    rgba(18, 37, 60, 1) 0%,
    rgba(36, 10, 56, 1) 25%,
    rgba(63, 16, 88, 1) 45%,
    rgba(47, 25, 82, 1) 60%,
    rgba(22, 42, 72, 1) 80%,
    rgba(14, 32, 54, 1) 100%
  );
  background-blend-mode: screen;
  filter: blur(45px) brightness(1.2);
  overflow: hidden;
  font-family: "Segoe UI", sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}